body{
 display: flex;
 align-items: center;
 justify-content: center;
 min-height: 100vh;
}
#container{
  max-width: 80%;
}
#save-cont{
  color: steelblue;
  display: grid;
  width: 18rem;
  margin-inline: auto;
  border: 1px solid steelblue;
  border-radius: 5px;
  gap: 10px;
  padding: 1rem;
}

#save-cont h2{
  text-align: center;
}

button{
  width: fit-content;
  background-color: steelblue;
  border: none;
  padding: .25rem .8rem;
  color: white;
  border-radius: 4px;
}

#display li{
  border: 1px solid gray;
  margin: .6em;
  padding: .35rem 1rem;
  border-radius: 2px;
  color: steelblue;
}
ul{
  list-style: none;
  padding-left: .2em;
}
#display li sub{
 
  margin-left: .3em
}